.footer {
  text-align: center;
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
  & .logo {
    display: block;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    --gap: 70px;
    text-align: left;
  }
}

.footer-media {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    gap: 93px;
  }
}

.footer-laptop {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 165px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 70px;
  }
}
.footer-media .logo {
  align-items: baseline;
}

.footer__adress {
  font-style: inherit;
  color: rgba(255, 255, 255, 0.6);

  &-item:not(:last-child) {
    margin-bottom: 9px;
  }

  &-link {
    color: inherit;
  }
  &-link[target='_blank'] {
    color: var(--white-txt-cl);
  }
}

.footer-link-cl {
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: var(--white-txt-cl);
  }
}
