/* block 4 */

.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;

  & .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
